<div class="ui container containerCustom">
  <h1 class="ui header">
    Detalhes de Usuário
  </h1>
  <div class="ui divider"></div>

  <div class="ui two column grid">
      <div class="column">
        <div class="ui raised segment">
          <div class="ui header">Informações Gerais</div>
          <a class="ui orange ribbon label">Dados Pessoais</a>          
            <div class="ui content contentCustom">

                <div class="ui items">
                  <div class="item">
                    <div class="content">
                        <h5 class="ui header">Nome Completo</h5>
                        <div class="description">
                          <p>Leonardo Dutra</p>
                        </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h5 class="ui header">E-Mail</h5>
                          <div class="description">
                            <p>leodutranew@gmail.com</p>
                          </div>
                      </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <h5 class="ui header">Nome dos Pais</h5>
                            <div class="description">
                              <p>Pai: Antonio Paulo de Sousa</p>
                              <p>Mãe: Maria Josefa Mirian</p>
                            </div>
                        </div>
                      </div>
                </div>              

            </div>
          <a class="ui teal ribbon label">Contato</a> 
          <div class="ui content contentCustom">
              <div class="ui items">
                <div class="item">
                  <div class="content">
                      <h5 class="ui header">E-Mail</h5>
                      <div class="description">
                        <p>leodutranew@gmail.com</p>
                      </div>
                  </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h5 class="ui header">Logradouro</h5>
                        <div class="description">
                          <p>Rua Juvenal Galeno, 926 - São Vicente</p>
                          <p>CEP: 63.700-230 / Crateús-CE</p>
                        </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h5 class="ui header">Telefone / Celular</h5>
                          <div class="description">
                            <p>(88) 9.9999-9999</p>
                            <p>(85) 9.8555-1515</p>
                          </div>
                      </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <div class="ui header">
                Informações Específicas para Alunos
          </div>
          <a class="ui orange left ribbon label">Inscrições</a>
          <div class="ui content contentCustom">
              <div class="ui items">
                  <div class="item">
                      <div class="content">
                          <h5 class="ui header">Inscrição 1</h5>
                          <div class="description">
                            <p>Detalhes da Inscrição</p>
                            <p>Mais detalhes da Inscrição</p>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="content">
                          <h5 class="ui header">Inscrição 2</h5>
                          <div class="description">
                            <p>Detalhes da Inscrição</p>
                            <p>Mais detalhes da Inscrição</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          <a class="ui teal left ribbon label">Informações Acadêmicas</a>
          <div class="ui content contentCustom">
            <div class="ui items">
                <div class="item">
                    <div class="content">
                        <h5 class="ui header">Matricula</h5>
                        <div class="description">
                          <p>801102</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h5 class="ui header">Curso</h5>
                        <div class="description">
                          <p>Sistemas de Informação</p>
                        </div>
                    </div>
                </div>                
            </div>
          </div>
        </div>
      </div>
    </div>

</div>