.cardCustom {
    width: 90%;
}

.gridCustom {
    //padding: 50px;
}

.formLoginCustom {
    width: 100%;
    padding: 15px 5px 0px 5px;
}


.formLoginFieldCustom {
    width: 100%;
}

.cardLoginCustom {
    //background-color: rgb(186, 181, 236);
}

.contentCustom {
    //width: 100%;
    //height: 100%;
    padding: 0px 0px 10px 0px;
    //vertical-align: top;
    //background-color: rebeccapurple;
}

.tableCustom {
    width: 100%;
}