.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #023e70;
    color: white;
    text-align: center;
    padding: 10px;
    height: 8%;
  }

.logoCustom {
    margin: 2px auto 0 auto;  
}