<div class="footer">
  <div class="logoCustom" fxLayout fxLayoutAlign="center">
      <a href="{{siteUfc}}"><img src.xs="../../assets/logo_campus_xsmall.jpg"/></a>
      <a href="{{siteUfc}}"><img src.sm="../../assets/logo_campus_md.jpg"/></a>
      <a href="{{siteUfc}}"><img src.md="../../assets/logo_campus_md.jpg" /></a>
      <a href="{{siteUfc}}"><img src.lg="../../assets/logo_campus_lg.jpg"/></a>
      <a href="{{siteUfc}}"><img src.xl="../../assets/logo_campus_xl.jpg"/></a>
  </div>
</div>