<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column" style="background-color: darkslategrey">
            <h1>Subscription</h1>
        </div>

        <!--VIEW GENERAL SCREENS-->
        <div class="four wide column" style="background-color: chocolate">
            <h1>Step One</h1>
        </div>
        <div class="twelve wide column " style="background-color: darkgreen">
            <h1>Step Two</h1>
        </div>
        <!--VIEW GENERAL SCREENS-->
    </div>
</div>